<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page of the IOG Competence database</title>
</head>
<body>
<h1>Competence Database</h1>
<p>This is the Competence database of IOG Austria</p>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'search' %}">Search</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>